@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"); /* for accessing icon library */
@import "tailwindcss";

* {
  font-family: "Poppins";
}

/* CSS Variables */
:root {
  --main-color: #0a1628; /* deep navy blue (body) */
  --second-bg-color: #112240; /* slightly lighter navy for contrast sections (NavBar & Footer) */
  --text-color: #e8f1f5; /* main text color */
  --second-text-color: #3b82f6; /* calm steel blue for highlighting specific word */
  --btn-bg-color: #3b82f6;
  --border-color: #2d5a8e;
  --second-border-color: #3b82f6;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}
